<title>Skrzynka kontaktowa</title>
<style>
    * {
        box-sizing: border-box;
    }

    body {
        display: flex;
        min-height: 100vh;
        flex-direction: row;
        margin: 0;
    }

    .col-1 {
        background: #D7E8D4;
        flex: 1;
    }

    .col-2 {
        display: flex;
        flex-direction: column;
        flex: 8;
        padding: 1em;
    }

    nav {
        padding: 1em;
    }
</style>
<body>
<nav class="col-1"><h2>Menu</h2>

    <br><br><br><br><br>
    <p>Lista kontaktów</p><br>
    <p><a href="new/">Dodaj kontakt</a></p><br>
    <p><a href="/groups/">Grupy</a></p><br>
    <p><a href="/group-search/">Wyszukaj osobę</a></p><br>


</nav>
<div class="col-2">

    <h3> Kontakty:</h3>

    <table border="solid">
        {% for person in persons %}

            <tr>
                <td><a href="/show/{{ person.id }}">{{ person.name }}</a> {{ person.surname }}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>


                <td><a href="/modify/{{ person.id }}">Edytuj Osobę</a></td>
                <td><a href="/delete/{{ person.id }}">Usuń osobę</a></td>
            </tr>
            <tr></tr>


        {% endfor %}


    </table>


</div>
</body>
</html>